[Unit]
Description=Check FactorTester main for a new public release

[Timer]
OnBootSec=2min
OnCalendar=*-*-* *:*:00
RandomizedDelaySec=15s
Persistent=true
Unit=factortester-public-update.service

[Install]
WantedBy=timers.target
