<div class="section" 
     data-factor-alias="{{ factor_family_alias }}" 
     data-factor-type="{{ factor_type | default('public') }}"
     data-param-aliases='{{ param_aliases|tojson }}'>
    <div class="section-title">当前因子: <b style="color:#0078d4;">{{ factor_family_alias }}</b>{% if chinese_name %} <span style="color:#555;font-weight:normal;font-size:0.85em;">{{ chinese_name }}</span>{% endif %}</div>
    <div style="margin-top:16px;color:#888;">功能陆续开发中</div>
    
    {% include 'modules/shared/latex_module.html' %}
    {% include 'modules/shared/param_info_table.html' %}
    {% include 'modules/single_factor_test/global_template_module.html' %}
    {% include 'modules/shared/parameter_module.html' %}
    {% include 'modules/shared/time_range_module.html' %}
    {% include 'modules/single_factor_test/category_filter_module.html' %}
    <script src="{{ url_for('static', filename='js/modules/single_factor_test/submission_context.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/single_factor_test/factor_library_helper.js') }}"></script>
    {% include 'modules/single_factor_test/ic_test_module.html' %}
    {% include 'modules/single_factor_test/group_test_module.html' %}
</div>

<script src="{{ url_for('static', filename='js/factor_main.js') }}"></script>
